# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Node / Front-end
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/
backend/fitness.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store

# baza SQLite (przenosimy regułę wyżej, bo na razie nie działa)
backend/fitness.db

# node_modules z dowolnego miejsca
**/node_modules/

# frontend-owe .gitignore – chcemy go usunąć, więc ignorujemy
frontend/.gitignore
/fitness_tracker.egg-info
.coverage
.coverage
.coverage
